@model IEnumerable<universidad.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
               
                <h5>Nombre</h5>
            </th>
            <th>
                <h5>Correo</h5>
            </th>
            <th>
                <h5>Telefono</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info"  asp-action="Detalles" asp-route-id="@item.Id">Detalles</a> |
                    <a  class="btn btn-danger"asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
