@model IEnumerable<universidad.Models.Usuarios>


<center><h2>Usuarios</h2></center>


<a class="btn btn-danger" data-toggle="modal" data-target="#ModalCrear" >Crear</a>

<table class="table">
    <thead>
        <tr>
            <th>

                <h5>Nombre</h5>
            </th>
            <th>
                <h5>Correo</h5>
            </th>
            <th>
                <h5>Rol</h5>
            </th>
            <th>
                <h5>Telefono</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    <a class="btn btn-success" data-toggle="modal" data-target="#ModalEditar" onclick="getUsuario('@item.Id','ApplicationUser/EnvioUsuario')">Editar</a> |
                    <a class="btn btn-info" asp-action="Detalles">Detalles</a> |
                    <a class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminar" onclick="getUsuario('@item.Id','ApplicationUser/EnvioUsuario')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Usuarios</h4>
            </div>
            <div class="modal-body">
                <form >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="Id" id="Id" />

                    <div class="form-group">
                        <label for="Email" class="control-label">Correo</label>
                        <input readonly name="Email" id="Email" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label for="UserName" class="control-label">Nombre</label>
                        <input name="UserName" id="UserName" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label for="PhoneNumber" class="control-label">Telefono</label>
                        <input name="PhoneNumber" id="PhoneNumber" class="form-control" />

                    </div>



                    <div class="form-group">
                        <label for="Roles" class="control-label">Rol</label>
                        <select id="select" name="select" class="form-control"
                                onclick="getRoles('ApplicationUser/GetRoles')">
                            <option value="0">Selecionar EL Rol</option>

                        </select>



                    </div>





                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="editarusuario('ApplicationUser/Editar')">Guardar datos</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <Center><h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4> </Center>
</div>
            <input type="hidden" name="EliminarId" id="EliminarId" />


            <div class="modal-footer">
                <Center>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="EliminarUsuario('ApplicationUser/Eliminar')">Si</button></Center>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCrear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <Center><h4 class="modal-title" id="myModalLabel">Nuevo Usuario</h4> </Center>
            </div>
            <div class="modal-body">



                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="Id" id="Id" />

                    <div class="form-group">
                        <label for="Emailnuevo" class="control-label">Correo</label>
                        <input name="Emailnuevo" id="Emailnuevo" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label for="PasswordHash" class="control-label">Clave</label>
                        <input  name="PasswordHash" id="PasswordHash" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label for="PasswordRepi" class="control-label">Repetir Clave</label>
                        <input name="PasswordRepi" id="PasswordRepi" class="form-control" />
                    </div>





                    <div class="form-group">
                        <label for="PhoneNumbernuevo" class="control-label">Telefono</label>
                        <input name="PhoneNumbernuevo" id="PhoneNumbernuevo" class="form-control" />

                    </div>



                    <div class="form-group">
                        <label for="Roles" class="control-label">Rol</label>
                        <select id="selectNuevo" name="selectNuevo" class="form-control"
                                onclick="getRoles('ApplicationUser/GetRoles')">
                            <option value="0">Selecionar EL Rol</option>

                        </select>



                    </div>





                </form>

            </div>
                    <div class="modal-footer">
                        <Center>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                          
                            <button type="button" class="btn btn-danger" onclick="CrearUsuario('ApplicationUser/Crear')">Guardar Usuario</button>
                        </Center>
                    </div>
                </div>
            </div>
</div>